.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/BlazorMaui/blazor-web/bin
/BlazorMaui/blazor-web/obj
/BlazorMaui/Components/bin
/BlazorMaui/Components/obj
/BlazorMaui/Infrastructure/bin
/BlazorMaui/Infrastructure/obj
/BlazorMaui/maui-demo/maui-demo/bin
/BlazorMaui/maui-demo/maui-demo/obj
/BlazorMaui/maui-demo/maui-demo.WinUI/obj
/BlazorMaui/maui-blazor/maui-blazor/obj
/BlazorMaui/maui-blazor/maui-blazor.WinUI/obj
