@page "/rivers"

<h3>Rivers</h3>

<RadzenDropDown Placeholder="Select a State" TValue="string" AllowClear="true" Style="width:300px" Data="@states" TextProperty="Name" ValueProperty="Code" Change=@(args => OnStateSelection(args, "DropDown")) />

@if (selectedState)
{
    <SpinLoader IsLoading="@(sites == null)">
        <LoadingTemplate>
            <Circle Color="#000000" Center="true" />
        </LoadingTemplate>
        <ContentTemplate>
            <RadzenDropDown Placeholder="Select a site" TValue="string" AllowClear="true" Style="width:500px" Data="@sites" TextProperty="Name" ValueProperty="Number" Change=@(args => OnSiteSelection(args, "DropDown")) />
        </ContentTemplate>
    </SpinLoader>
}


@if (selectedState && selectedSite)
{
    <River SiteNumber="@selectedSiteNumber"/>
}
