

<SpinLoader IsLoading="@isLoading">
    <LoadingTemplate>
        <Circle Color="#000000" Center="true"/>
    </LoadingTemplate>
    <ContentTemplate>
        <h3>@SiteNumber</h3>
    </ContentTemplate>
</SpinLoader>
